@import "tailwindcss";

body {
  margin: 0;
  background-color: #0f172a;
  color: #f8fafc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

#root {
  width: 100%;
  max-width: 1200px;
}